.cards__item {
  /* margin-right: 100px; */
  width: 240px;
}

.cards__item:nth-of-type(1) {
  margin-right: 100px;
}

.cards__item:nth-of-type(2) {
  margin-right: 100px;
}

.cards__item:nth-of-type(4) {
  margin-right: 100px;
}
