@import url("../vendor/normalize.css");
@import url("../blocks/header/header.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/two-columns/two-columns.css");
@import url("../blocks/table/table.css");
@import url("../blocks/rotation/rotation.css");

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.cards {
  padding: 0;
  margin: 0 auto;
  width: 920px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  /* margin-right: 100px; */
  width: 240px;
}

.cards__item:nth-of-type(1) {
  margin-right: 100px;
}

.cards__item:nth-of-type(2) {
  margin-right: 100px;
}

.cards__item:nth-of-type(4) {
  margin-right: 100px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  margin: 0 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video__iframes {
  padding: 0;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.video__iframe {
  margin-right: 20px;
}

.oakley {
  background-color: #f2f2f2;
  margin-top: -60px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.feynman {
  min-height: 790px;
  background: #f2f2f2 url("../images/feynman.png") no-repeat bottom left;
  padding-top: 100px;
  position: relative;
}

.feynman__title {
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  max-width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
  transition: opacity 0.5s linear;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
}
.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px 0 36px;
  min-width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity 0.5s linear;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.kaufman {
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
  position: relative;
  color: white;
}

.section-subtitle_theme_dark {
  position: relative;
  color: white;
}

.resources__logo-zone {
  list-style-type: none;
  width: 1100px;
  padding: 0;
  margin: 80px auto 217px;
  display: flex;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link-item {
  text-decoration: none;
  color: white;
  transition: opacity 0.5s linear;
}

.footer__column-link-item:hover {
  opacity: 0.5;
}

.footer__social-icon {
  margin-right: 7px;
}
