.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
  padding: 0;
}

div {
  border: 1px solid red;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
}

.logo-header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.description__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.description__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.description__span-accent {
  font-weight: bold;
}

.section-header {
  width: 60%;
  text-align: center;
  margin: auto;
}

.section-title {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table-digits {
  width: 1100px;
  width: 250px;
  padding-top: 60px;
}

.table__text-digits {
  margin-bottom: 20px;
}

/* .table__break-digits {
  height: 60px;
} */

.feynman {
  background-color: #f2f2f2;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 100px auto 70px; /* top margin doesn't seem to adjust as expected */
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  text-align: center;
}

.feynman__link {
  width: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
  position: absolute;
  top: 50%;
}

.feynman__image {
  width: 867px;
  height: 637px;
  z-index: -1;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: -1;
  margin: 90px auto;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
}

.section-header-kaufman {
  color: #fff;
}

.table__cell-theme-dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: flex;
}

.footer__column-copyright {
  flex-basis: 711px;
  display: flex;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo-footer {
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
